html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: antiquewhite;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #666;
  margin: 0;
}

ul {
    max-width: 550px;
    padding: 0;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    list-style: none;
}

li {
    margin: 16px 0;
}

li:before {
    content: "\2022";
    display: inline-block;
    padding-right: 0.25em;
    color: orange;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    display: block;
    background: white;
    padding: 10px;
    margin: 0 auto;
    width: 80vw;
    max-width: 550px;
}

#img-caption {
    margin: 15px 0 5px 0;
}

#tribute-link {
    color: chocolate;
    text-decoration: none;
}
#tribute-link:hover {
    text-decoration: underline overline chocolate;
}

blockquote {
    padding: 32px;
    background-color: bisque;
}

